<div class="table">
  <div class="row header ps-1 pt-1">
    <div class="col w-15">Organization</div>
    <div class="col w-11">Commitment Code</div>
    <div class="col w-5">Start</div>
    <div class="col w-5">End</div>
    <div class="col w-5">
      <div class="table">
        <div class="row">
          <div class="col">Payments</div>          
        </div>
        <div class="row">
          <div class="col w-2">#</div>
          <div class="col w-2">Made</div>
        </div>
      </div>
    </div>
    <div class="col w-5">Last</div>
    <div class="col w-7 text-end pe-1">Total</div>
    <div class="col w-7 text-end pe-1">Paid</div>
    <div class="col w-7 text-end pe-1">Due</div>
  </div>
</div>