<%= turbo_frame_tag Foundation.new do %>
  <div class="row">
    <div class="col-4 col-sm-3 offset-8 offset-sm-9">
      <%= link_to new_foundation_path, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="bi bi-piggy-bank pe-1"></i>New Foundation
      <% end %>
    </div>
  </div>
<% end %>