<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="0"
      data-pages-sidebar-outlet="#sidebar-controller">
  
  <div class="card">
    <div class="card-header my-header py-1">
    <div class="row align-items-end">
      <div class="col-auto pe-0"><%= image_tag(@foundation.resize_image_logo(50,50)) if @foundation.image_logo.attached? %></div>
      <div class="col pb-1"><h4 class="mb-0"><%= @foundation.long_name %></h4></div>
    </div>
    </div>
    <div class="card-body">

  <div class="container">
    
    <div class="row">
      <div class="col-12 col-lg-6 pb-3">
        <h5>Contributions made the last 3 months</h5>
        <%= line_chart charts_contribution_time_line_path(@foundation), width: "68%",
                          ytitle: "Contributions" %>
      </div>
      <div class="col-12 col-lg-6 pb-3">
        <h5>Top Donors of the last 3 months</h5>
        <%= column_chart charts_top_donors_path(@foundation), width: '68%', 
                          ytitle: "Total Contributions", xtitle: "Donors" %>
      </div>
    </div>
    
  </div>

    </div>
  </div>
  <h4>
  </h4>
</div>
