<div class="container" id="main_content">
  <h3>Devices & Sessions</h3>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">

    <% @sessions.each do |session| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-header my-text-bg-secondary pb-0">
            <strong>Created at:</strong>
            <%= session.created_at.strftime(" %m/%d/%Y %H:%M:%S")%>
          </div>
          <div class="card-body">
            <p>
              <strong>IP Address:</strong>
              <%= session.ip_address %>       
            </p>
            <p>
              <strong>User Agent:</strong>
              <%= session.user_agent %>
            </p>
          </div>
          <div class="card-footer text-center">
            <%= button_to session, method: :delete, class: "btn btn-sm btn-outline-secondary" do %>
              Log out<i class="bi bi-box-arrow-in-right ps-1"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
