<%=turbo_frame_tag "organizations_list" do %>
  <% if organizations.blank? %>
    <div class="row mb-1">
      <div class="col text-center text-muted ct-td">
      No organizations...
      </div>
    </div>
  <% else %>
    <% organizations.each_with_index do |organization, index| %>
      <%= render partial: 'organization', locals: { organization: organization, organization_counter: index, page: @pagy.page } %>
    <% end %>
  <% end %>
  <% if @pagy.pages > 1 %>
    <div class="card-pagy pt-1">
      <%#== pagy_nav(@pagy) %>
      <%#== pagy_bootstrap_nav(@pagy) %>
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
<% end %>