<div class="row mb-2 align-items-center" data-controller="osearch" 
        data-osearch-sortmgmt-outlet="#organization-controller"
        data-osearch-create-value="<%= create %>">
  
  <div class="col-8">
    <div class="input-group">
      <input type="text" class="form-control form-control-sm" placeholder="Search ..." data-sortmgmt-target="query" data-action="keydown.enter->sortmgmt#filter">
      <button class="btn btn-sm btn-outline-secondary" type="button" data-action="click->sortmgmt#filter">Filter</button>
    </div>
  </div>

  <div class="col-4 text-end">
    <button type="button" class="btn btn-outline-secondary btn-sm" 
            data-url="<%= foundation_reporting_organization_list_path(@foundation, format: :pdf) %>" 
            data-action="click->osearch#print_query">
      <i class="bi bi-printer pe-1"></i>Print
    </button>
  </div>
</div>
