<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="1"
      data-pages-sidebar-outlet="#main-sidebar">

  <%= render "show_details", foundation: @foundation, organization: @organization, page: @page, by: @by, dir: @dir, query: query %>
  

    <%= render "contributions" %>
</div>