<%= turbo_frame_tag @organization do %>
  <div class="card mb-2 card-secondary">
    <div class="card-header text-center">
      Editing Organization -- <%= @organization.name %>
    </div>
    <div class="card-body pb-2">
      <%= render "form", 
            organization: @organization, 
            form_url: foundation_organization_path(@foundation, @organization, page: params[:page], show: params[:show]), 
            page: params[:page], show: params[:show], new_donation: false, index: params[:index] %>
    </div>
  </div>
<% end %>

