<%= turbo_frame_tag Organization.new do %>

  <div class="card card-secondary m-2">
    <div class="card-header text-center">
      New Organization
    </div>
    <div class="card-body">
      <%= render "form", organization: @organization, form_url: foundation_organizations_path(@foundation), page: 1, show: 0, new_donation: false %>
    </div>
  </div>

<% end %>
