<%# locals: (contributions:) -%>
<%=turbo_frame_tag "commitment-payments" do %>
    <% if contributions.blank? %>
    <div class="row mb-1">
      <div class="col text-center text-muted ct-td">
      No payments...
      </div>
    </div>
    <% else %>
      <div class="accordion" id="contribution-accordion">
        <% contributions.each_with_index do |contribution, index| %>
          <%= render partial: 'contribution', locals: { contribution: contribution, contribution_counter: index } %>
        <% end %>
      </div>
    <% end %>

<% end %>