<%# locals: (contributions:) -%>
<%=turbo_frame_tag "commitment-payments" do %>
    <% if contributions.blank? %>
    <div class="row mb-1">
      <div class="col text-center text-muted ct-td">
      No payments...
      </div>
    </div>
    <% else %>
      <% contributions.each do |contribution| %>
        <%= render "contribution", contribution: contribution %>
      <% end %>
    <% end %>

<% end %>