<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="2"
      data-pages-sidebar-outlet="#main-sidebar"
      class="pt-4">


  <%= render "new_placeholder" %> 
  
  <div class="card">
    <div class="card-header">
      <%= render "fdn/donations/nav" %>  
    </div>

    <%= render "main", page: 1, dir: 2, by: 1 %>

  </div>
  
</div>
