<div id="commitments-main" class="container py-3">

  <%= render "show_commitment" %>

  
  <%= render "new_contribution_placeholder" %>
  <div class="card-table">
    <div class=" ct-table">
      <div class="row ct-th ">
        <div class="col ct-td">
     Payments
        </div>
        <div class="col ps-0 pe-1 text-end ct-td">
          <%= link_to foundation_commitment_contribution_new_path(@foundation, @commitment), 
                    class: "py-0 btn btn-sm btn-outline-success", 
                    :"data-turbo-stream" => true, 
                    data: { turbo_frame: dom_id(Contribution.new, :commitment) } do %>
            New Payment
          <% end %>
        </div>
      </div>
      <%= render "contributions_list", contributions: @commitment.contributions%>
    </div>
  </div>
</div>
