<%= turbo_frame_tag @commitment do %>
  <div class="card">
      <%= render "form", commitment: @commitment, form_url: foundation_commitment_path(@foundation, @commitment), show: @param_show %>
  </div>
<% end %>
