<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="5"
      data-pages-sidebar-outlet="#sidebar-controller">

  <div class="card">
    <div class="card-header my-header">
      <%= render "fdn/settings/nav" %>
    </div>
    <%= render "fdn/settings/foundation"%>
  </div>
  
</div>
