<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="3"
      data-pages-sidebar-outlet="#main-sidebar" 
      class="pt-3">

<%= render "new_button", bank_accounts: @bank_accounts %>

  <div class="card card-bordered pt-3">
      <%= @primary_account.nil? ? (render "main_empty") : (render "main", bank_account: @primary_account) %>     
  </div>
</div>
