<%= turbo_frame_tag "reconciliation-main" do %>
  <div class="row ct-th">
    <div class="col-4 col-sm-2 ct-td">Date</div>
    <div class="d-none d-sm-block col-sm-4 col-2 ct-td text-end pe-2">Opening Balance</div>
    <div class="col-4 ct-td text-end pe-2">Ending Balance</div>
    <div class="col-2 ct-td text-end pe-3">
      <%# , data: { turbo_frame: "new_reconciliation" } %>
      <%= link_to new_foundation_bank_account_reconciliation_path(@foundation, @bank_account),
            class: "btn btn-sm",
            :"data-turbo-stream" => true do %>
        <i class="bi calendar2-plus pe-1"></i>Reconcile
      <% end %>
    </div>
  </div>

  <% if @reconciliations.size >0 %>
    <% @reconciliations.each_with_index do |reconciliation, index| %>
      <%= render partial: 'reconciliation', locals: { reconciliation: reconciliation, reconciliation_counter: index } %>
    <% end %>
  <% else %>
    No Reconciliations
  <% end %>

  <%#= render @reconciliations %>  
<% end %>