<%= turbo_frame_tag "bank-account-sub" do %>
  <%= render "fdn/accounting/nav" %>

  <div class="border border-top-0">
    <div class="container-fluid px-0 pt-4 pb-2">
      <%= render "reconciliations_list" %>
    </div>
  </div>
<% end %>