<%= turbo_frame_tag "bank-account-sub" do %>
  
  <div class="card-table">
    <%= render "fdn/accounting/nav" %>
    <div class="ct-table">

      <%= render "reconciliations_list" %>

    </div>
  </div>
<% end %>