<%# locals: () -%>
<div class="container-fluid px-0 pt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Deposits (not cleared)", foundation_bank_account_checks_path(@foundation, @bank_account), 
          class: "#{request.path == foundation_bank_account_checks_path(@foundation, @bank_account)  ? "nav-link active" : "nav-link"}" %>
    </li>
    <li class="nav-item">
      <%= link_to "Reconcilations", foundation_bank_account_reconciliations_path(@foundation, @bank_account), 
          class: "#{request.path == foundation_bank_account_reconciliations_path(@foundation, @bank_account)  ? "nav-link active" : "nav-link"}" %>
    </li>
  </ul>
</div>