<%# locals: (checks:) -%>
<div id="bank-deposits">
  <%= turbo_frame_tag Check.new %>
  <% if checks.size >0 %>
    <% checks.each_with_index do |check, index| %>
      <%= render partial: 'check', locals: { check: check, check_counter: index } %>
    <% end %>
  <% else %>
    No Deposits
  <% end %>
</div>