<%= turbo_frame_tag "bank-account-sub" do %>
    

<div class="card-table">
  <%= render "fdn/accounting/nav" %>
  <div class=" ct-table">

    
      <div class="row ct-th align-items-end">
        <div class="col-4 col-md-2 ct-td">Date</div>
        <div class="d-none d-md-block col-md-4 ct-td">Note</div>
        <div class="col-5 col-md-4 ct-td text-end pe-4">Amount</div>
        <div class="col-3 col-md-2 ct-td">
          <%= link_to new_foundation_bank_account_check_path(@foundation, @bank_account),
                class: "py-0 btn btn-sm",
                data: { turbo_frame: "new_check" },
                :"data-turbo-stream" => true do %>
            <div class="row text-center px-2">
              <div class="d-none d-md-block col pe-0">New Deposit</div>
              <div class="col-auto px-1"><i class="bi bi-cash ps-1"></i></div>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "checks_list", checks: @checks %>
        
  </div>
</div>
<% end %>