<%= turbo_frame_tag User.new do %>
  <div class="py-2">
    <div class="card">
      <div class="card-header">New User</div>
      <div class="card-body">
        <%= render "form", user: @user %>   
      </div>
    </div>
  </div>
<% end %>
