<%# locals: (user:) -%>
<%=turbo_frame_tag "user_edit_header_#{user.id}" do %>
  <% if user.admin?%>
    <div class="card-header bg-primary text-center text-white py-1 pb-0">
      <h6><i class="bi bi-shield-lock px-2"></i>Editing User -- <%= user.email %></h6>
    </div>
  <% else %>
    <div class="card-header rounded text-center py-1 pb-0">
      <h6>Editing User -- <%= user.email %></h6>
    </div>
  <% end %>
<% end %>
