<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="-1"
      data-pages-sidebar-outlet="#main-sidebar"
      class="py-2">

  <%= render 'new' %>
  
  <div class="card-table">
    <%= render 'user_list' %>
  </div>

</div>
