
<table class="py-1">
  <tr>
    <td><span class="fs-small"><%= Time.now.strftime("%d/%m/%Y %H:%M %p") %></span></td>
    <td class="fs-small text-end"><span class="page"></span> of <span class="topage"></span></td>
  </tr>
</table>