<div class="table">
  <div class="row">
    <div class="col w-39"></div>
    <div class="col w-6"><%= @start_at.strftime("%m/%d/%Y") %></div>
    <div class="col w-1 text-center"> - </div>
    <div class="col w-6"><%= @end_at.strftime("%m/%d/%Y") %></div>
  </div>
  <div class="row header ps-1 pt-1">
    <div class="col w-6">Date</div>
    <div class="col w-16">Organization</div>
    <div class="col w-7">City</div>
    <div class="col w-4">St</div>
    <div class="col w-5">Donor</div>
    <div class="col w-5">CK #</div>
    <div class="col w-7 text-end pe-2">Amount</div>
  </div>
</div>