<%=turbo_frame_tag "contribution-list" do %>
  <div class="border-bottom">
    <% if contributions.blank? %>
      No records found...
    <% else %>
      <%= render contributions, page: @pagy.page %>
    <% end %>
  </div>
  <% if @pagy.pages > 1 %>
    <div class="pt-2">
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
<% end %>