<%=turbo_frame_tag "contribution-list" do %>
    <% if contributions.blank? %>
    <div class="row mb-1">
      <div class="col text-center text-muted ct-td">
      No open contributions...
      </div>
    </div>
    <% else %>
      <% @contributions.each_with_index do |contribution, index| %>
        <%= render partial: 'contribution', locals: { contribution: contribution, contribution_counter: index, page: @pagy.page } %>
      <% end %>

      <%#= render contributions, page: @pagy.page %>
    <% end %>
  <% if @pagy.pages > 1 %>
    <div class="card-pagy pt-1">
      <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div>
  <% end %>
<% end %>