<div id="main_content" data-controller="pages" 
      data-pages-sbnum-value="2"
      data-pages-sidebar-outlet="#sidebar-controller">

  <div class="card">
    <div class="card-header my-header">
      <%= render "fdn/donations/nav" %>
    </div>

    <%= render "main", page: 1, dir: 2, by: 0 %>

  </div>
  
</div>
