<%= turbo_frame_tag Contribution.new do %>
  <div class="card mb-2 border-primary">
    <div class="card-header border-primary bg-primary bg-opacity-10">
      <div class="row">
        <div class="col">
          <b>New Contribution Wizard for : </b><span class="text-primary"><%= @contribution.organization.name %></span>
        </div>
        <div class="col-auto fst-italic text-primary fw-bold">
    <% if @contribution.agreement_type == "InKind" %>
      IN KIND
    <% elsif @contribution.agreement_type == "FundsTransfer" %>
      FUNDS TRANSFER
    <% else %>
    CHECK
    <% end %>
        </div>
      </div>
      
    </div>
    <%# if @contribution.agreement_type == "InKind" %>
      <%# IN KIND %>
    <%# elsif @contribution.agreement_type == "FundsTransfer" %>
      <%# FUNDS TRANSFER %>
    <%# else %>
    <%= render "form", contribution: @contribution, form_url: foundation_contributions_path(@foundation), show: "-1" %>
    <%# end %>

  </div>
<% end %>


