/*------------------------------------*\
  #colors
\*------------------------------------*/
$nav-bg-color:                  #0d1949;
$sidebar-bg-color:              #152a5b;
$dropdown-bg-color:             #0b1538;
$border-muted:                  #6c757d;
$dropdown-secondary-bg:         #1e3a56;
$dropdown-secondary-hover-bg:   #284d70;
$dropdown-secondary-text:       #d3e3f1;

$text-white:                    #ffffff;
$text-grey:                     #ddd;
$text-darkgrey:                 #666;
$text-darkergrey:               #444444;
$text-redgrey:                  #555555;
$text-primary:                  #ffffff;
$text-secondary:                #c0c0c0;
$text-muted:                    #b0bec5;
$text-black:                    #000000;
$text-dark:                     #333;

$bg-palesilver:                 #F2F2F2;
$bg-limegreen:                  #2ecc71;
$bg-midnightblue:               #0d1949;
$border-slategray:              #4f5d64;

$highlight-success:             #00ff7f;
$highlight-warning:             #ffc107;
$highlight-info:                #00eaff;
$highlight-orange:              #ffa726;

$hover-bg-color:                #152a5b;
$button-bg-color:               #152a5b;
$primary-btn-color:             #152a5b;
$primary-btn-color-dark:          darken($primary-btn-color, 20%);
$secondary-btn-color:           #C0C0C0;
$success-btn-color:             #00ff7f;
$warning-btn-color:             #ffc107;
$light-btn-color:               #333;
$link-blue:                     #006697;

$content-background-color:      #E5E5E5;
$secondary-bg-color:            #E5E5E5;

$card-bg-color:                 #F7F7F7;
$card-border-color:             #6C757D;
$card-header-color:             #2f4f7f; /* A darker blue color */
$card-text-color:               #333333;
$card-footer-color: lighten($card-header-color, 10%);
$card-footer-dark-color: lighten(#333, 20%);

$error-color:                   #FF3737;
$danger-color:                  #FF0000;
$warning-color:                 #FFC107;
$success-color:                 #2196F3;

$table-header-color:            #333333;
// $table-header-color:            #006697;
$table-border-color:            #6C757D;
$table-background-color:        #E5E5E5;
// $table-row-odd-color:           #F2F2F2;
$table-row-odd-color:           #CECECE;
// $table-row-odd-color:           #F7F7F7;
$table-row-even-color:          #ffffff;
$table-hover-color:             #ADD8E6;
// $table-hover-color:                 #E5E5E5;

.badge-dark {
  background-color: #333333;
  color: #ffffff;
  width: max-content;
  padding-inline: 20px;
}

.badge-green {
  background-color: $bg-limegreen;
  color: #333;
  width: max-content;
  padding-inline: 20px;
}

.badge-orange {
  background-color: $highlight-orange;
  color: #333;
  width: max-content;
  padding-inline: 20px;
  border: 1px solid #333;
}

hr {
  border-color: $border-slategray; /* or #b0bec5, #455a64, or #6c757d */
  border-style: solid;
  border-width: 1px;
  margin: 10px;
}

.label-grey {
  font-style: italic;
  background-color: #ccc;
  color: #333;
  border-radius: 10px;
  padding: 2px 20px;

}

.scroll {
  max-height: 100px;
  overflow-y: auto;
}

.text-darkgrey {
  color: $text-darkergrey;
}

.text-green {
  color: $bg-limegreen;
}

.text-yellow {
  color: #FFD700;
}

.text-burntorange {
  color: #7d4406;;
}

.text-success {
  color: $highlight-success !important;
}

.text-info {
  color: $highlight-info !important;
}

.text-danger {
  color: $error-color !important;
}

.text-small {
  font-size: .85em;
  line-height: 1.2em;
}

.text-xsmall {
  font-size: .75em;
  line-height: 1.2em;
}

.text-medium {
  font-size: 14px;
}

.text-medlarge {
  font-size: 1.2rem;
}

.text-big {
  font-size: 2rem;
}

.text-bg-lightgreen {
  background-color: #e5ffe5;
  color: $text-black;
}

.accordin-body-bg {
  background-color: #e6e6e6;
  color: $text-black;
  border-bottom: 1px solid #aaa;
}

.text-bg-dark {
  // background-image: linear-gradient(to bottom, #0d1949, #1a1d23);
  background-color: $bg-midnightblue !important;
  color: $text-secondary;  
}

.text-bg-primary {
  background-color: $primary-btn-color !important; // $link-blue !important;
  color: $highlight-info !important;
}

.bg-secondary {
  background-color: $secondary-bg-color !important;
}

.border-danger {
  border-color: $error-color !important;
}

.bg-danger {
  background-color: $error-color !important;
}

.text-bg-green {
  background-color: $bg-limegreen !important;
  color: $text-black !important;
  outline : 1px solid $border-muted !important;
}

.bg-info {
  background-color: $highlight-info !important;
}

.text-bg-light {
  background-color: $border-muted !important;
  color: $text-white !important;
}

.text-bg-secondary { 
  background-color: $secondary-bg-color !important;
  color: $text-redgrey !important; 
}

.text-bg-success{
  background-color: $success-color !important;
  color: $text-white !important;
}

.text-bg-warning{
  background-color: $warning-color !important;
  color: $text-black !important;
}

.h1-content {
  font-size: 24px;
  font-weight: bold;
  color: $text-dark;
}

.h2-content {
  font-size: 20px;
  font-weight: bold;
  color: $text-darkergrey;
}

.h3-content {
  font-size: 18px;
  font-weight: bold;
  color: $text-redgrey;
}

.alert-danger {
  background-color: $error-color;
  border-color: $danger-color;
  color: $text-white;
}

.alert-success {
  background-color: $success-color;
  border-color: $success-color;
  color: $text-white;
}
.form-select-input {
  border-color: $border-muted;
}

.form-check-input {
  border: 1px solid black;
}

.form-check-input:checked {
  background-color: #333;
  border-color: black;
}

.form-control:focus, 
.form-check-input:focus, 
.form-select-input:focus {
  box-shadow: 0 0 0 0.1rem #ADD8E6;
}

.form-control:hover {
  border-color: $primary-btn-color;
}

.form-control {
  border: 1px solid $border-muted;
  margin-left: 5px;
  margin-right: 3px;
}

.form-secondary {
  background-color: #E5E5E5;
  color: black;
}

.secondary-main {
  background-color: $secondary-bg-color;
}

.primary-main {
  // background-color: $dark-blue-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: row;  
  flex-direction: column;
  height: 100vh;
  min-width: 400px; 
}

body.collapsed-sidebar .content {
  margin-left: 70px; /* Adjusts to collapsed sidebar width */
}

body.collapsed-sidebar #main-navbar {
  margin-left: 70px;
  width: calc(100% - 70px);
}

.content {
  flex: 1;
  margin-left: 200px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  background-color: $content-background-color;
}

.card-login {
  border: 2px solid $border-muted;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba($border-muted, 0.5);
}

.card-pagy {
  background-color: #555555;
  // background-color: #C0C0C0;
  border: 1px solid #333;
  color: white;
  // color: black;
  border-radius: 8px;
}

.card-edit {
  background-color: #ADD8E6;
  // #dde7ec
  // background-color: $bg-palesilver;
  border-radius: 8px;
  color: #0d1949;  
  margin-bottom: 2px;
  margin-top: 2px;
}

.card-edit.active {
  border: 2px solid #ffa726;
}

.card-edit .card-header {
  color: $text-primary; /* #ffffff */
  background-color: #4682B4; /* #1e3a56 */
  // border-radius: 5px !important;
}

.card-edit .card-footer {
  color: $text-primary; /* #ffffff */
  background-color: #4682B4; /* #1e3a56 */
  // #e0d1a2  #eadbac
  border-radius: 5px;
  // border-top: 1px solid #e0d1a2;
}

.card-new .card {
  background-color: #E5E5E5;
  border: 1px solid #cecbcb;
  border-radius: 8px;
  color: black;  
}

.card-edit .card{
  background-color: #E5E5E5;
  border: 1px solid #4682B4;
  border-radius: 8px;
  color: black;
}

.card-edit .btn-nav  {
  background-color: #2F4F7F; 
  color: #ffffff;
  border: 1px solid #87CEEB;;
  // border: none;
  padding: 4px 16px;
  border-radius: 8px;
  &:hover {
    background-color: #87CEEB ;
    border: 1px solid #2F4F7F;
    color: #2F4F7F;
    // #148f5c ;
  }
}

.card-donation {
  background-color: #fff9e5;
  // #dde7ec
  // background-color: $bg-palesilver;
  border: 1px solid $border-muted;
  border-radius: 8px;
  color: #0d1949;
  // padding: 16px;  
  // box-shadow: 0 2px 4px rgba($text-black, 0.1);
  // transition: box-shadow 0.2s ease-in-out;  
}

.card-donation .card{
  background-color: #f9eabb;
  border: 1px solid #ecddaf;
  border-radius: 8px;
  color: black;
}

.card-donation .card-header {
  color: $text-primary; /* #ffffff */
  background-color: #444444; /* #1e3a56 */
  // border-radius: 5px !important;
}

.card-donation .card-footer {
  color: #444444; /* #ffffff */
  background-color: #e0d1a2; /* #1e3a56 */
  // #e0d1a2  #eadbac
  border-radius: 5px;
  border-top: 1px solid #e0d1a2;
}


.card-donation .card-header .btn-nav  {
  background-color: #2ecc71; /* or #2ecc71, #f1c40f, or a darker shade of the table header background color */
  color: #222222;
  border: 1px solid #27ae60;;
  // border: none;
  padding: 2px 18px;
  border-radius: 8px;
  &:hover {
    background-color: #27ae60 ;
    border: 1px solid #14532d;
    color: #e2e2e2;
    // #148f5c ;
  }
}

.card-donation .card-header .btn-nav-danger  {
  background-color: #FFB2B2; /* or #2ecc71, #f1c40f, or a darker shade of the table header background color */
  color: #660000;
  border: 1px solid #CC6666;;
  // border: none;
  padding: 2px 18px;
  border-radius: 8px;
  &:hover {
    background-color: #E68A8A ;
    border: 1px solid #993333;
    color: #ffffff;
    // #148f5c ;
  }
}

.card-donation .card-footer .btn-nav  {
  background-color: #f9eabb; /* or #2ecc71, #f1c40f, or a darker shade of the table header background color */
  color: #333;
  border: 1px solid #c49d71;;
  // border: none;
  padding: 4px 16px;
  border-radius: 8px;
  &:hover {
    background-color: #444444 ;
    border: 1px solid #ffffff;
    color: #ffffff;
    // #148f5c ;
  }
}

.card-donation .card-footer .btn-nav-danger  {
  background-color: #f9eabb; /* or #2ecc71, #f1c40f, or a darker shade of the table header background color */
  color: #cc1313;
  border: 1px solid #c49d71;;
  // border: none;
  padding: 4px 16px;
  border-radius: 8px;
  &:hover {
    background-color: #cc1313 ;
    border: 1px solid #ffffff;
    color: #ffffff;
    // #148f5c ;
  }
}

.card-primary {
  background-color: $bg-palesilver;
  border: 1px solid $border-muted;
  // border-radius: 4px;
  // padding: 16px;  
  box-shadow: 0 2px 4px rgba($text-black, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.card-secondary {
  background-color: $secondary-bg-color; /* #E5E5E5 */
  border-color: $border-muted; /* #6c757d */
  color: $text-darkgrey; /* #666 */
  // border: 4px solid $border-muted;
}

.drop-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-check-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check-radio-input {
  margin-left: 10px !important;
}

.card-radio-label-text {
  display: block
}

.card-radiobtn.selected {
  background-color: #cfcfcfd3;
  font-weight: bold;
}

.card-radiobtn {
  cursor: pointer;
}

.card-radiobtn:hover {
  background-color: #cfcfcfd3;
}

// .clickable-card input[type="radio"]:checked + label {
//   font-weight: bold;
// }

.card-secondary .card-header {
  color: $text-primary; /* #ffffff */
  background-color: $dropdown-secondary-bg; /* #1e3a56 */
  // border-radius: 5px !important;
}

.card.card-secondary .card-header-dark {
 padding-left: 10px; 
 padding-top: 2px;
 padding-bottom: 4px;

}

.card {
  background-color: $card-bg-color;
  color: $card-text-color;
  border: 1px solid $card-border-color; /* Ensure card has a visible border */
  box-sizing: border-box; /* Ensure dimensions include padding/border */
  border-radius: 8px;
}

.card-header {
  background-color: $card-header-color;
  color: $text-white; /* White text color */
  // padding: 0.75rem; /* Add spacing */
  border-bottom: 1px solid $card-border-color; /* Define a clear bottom border */
  border-radius: 7px !important;
  font-size: 18px;
  font-weight: 550;
}

.card-footer {
  background-color: $card-footer-color;
  color: $text-white;
  padding: 0.75rem;
  border-top: 1px solid $card-border-color;
}

.card-footer-dark-secondary, 
.card-footer-dark {
  background-color: $card-footer-dark-color;
  color: $text-white;
  padding: 0.75rem;
  border-top: 1px solid #333;
}

.card-bordered {
  background-color: #D3D3D3; /* No background color */
  padding: 1rem; /* Add some inner spacing */
  box-sizing: border-box; /* Ensure padding fits inside the container */  
  border: 1px solid $bg-midnightblue;
  border-radius: 20px !important;
}

.card-table {
  background-color: transparent; /* No background color */
  padding: 1rem; /* Add some inner spacing */
  box-sizing: border-box; /* Ensure padding fits inside the container */
}

.card-table table, 
.card-table .ct-table {
  width: 100%; /* Ensures table fits inside the card */
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $table-border-color; /* Define the table's border */
  // background-color: $text-white;
  background-color: $table-background-color;
  color: inherit; /* Inherit text color from .card */
  border-radius: 8px; /* Adjust to your desired corner radius */
  table-layout: auto;  
}

.card-table table th,
.card-table table td, 
.card-table .ct-th,
.card-table .ct-td {
  padding: 4px;
  padding-left: 10px;
  padding-right: 6px;
  text-align: left;
}

.card.card-secondary .card-header-dark ,
.card-table table th, 
.card-table .ct-th {
  background-color: $table-header-color;
  // background-color: #2f4f7f;
  color: $text-white;
  border-radius: 7px;
  // border-bottom: 2px solid #6c757d;
}

.card-table .ct-th .btn-light, 
.card.card-secondary .card-header-dark .btn-light {
  background-color: #666 !important; // dark gray
  color: #fff !important;
  // padding: 0px 16px;
  // border-radius: 8px;  
  border: 1px solid #444 !important; // darker gray border
  // transition: background-color 0.2s ease-in-out;

  &:hover {
      background-color: #555 !important; // lighter gray on hover
      border: 1px solid $text-secondary !important;
  }
}

.card-table .ct-th .btn, 
.card.card-secondary .card-header-dark .btn,
.card.card-secondary .card-footer-dark .btn  {
  background-color: $bg-limegreen; /* or #2ecc71, #f1c40f, or a darker shade of the table header background color */
  color: $text-black;
  border: 1px solid #1a7f4b;
  // border: none;
  padding: 0px 16px;
  border-radius: 8px;
  &:hover {
    background-color: #29b866 ;
    border: 1px solid $text-black 
    // #148f5c ;
  }
}

.card-table .ct-odd, 
.card-table .ct-even, 
.card-table .ct-th{
  margin: 0;
  padding: 0;
}

.card-table table tbody tr:nth-child(odd), 
.card-table .ct-odd  {
  background-color: $table-row-odd-color;
  border-radius: 7px;
  // background-color: #F2F2F2;
}

.card-table table tbody tr:nth-child(even), 
.card-table .ct-even {
  background-color: $table-row-even-color; /* White for even rows */
  border-radius: 7px;
  // background-color: #ffffff; /* White for even rows */
}

.card-table table tbody td.auto-width {
  white-space: nowrap;
  width: auto;
  text-align: right;
}
// .card-table table tbody tr:hover {
//   background-color: $highlight-info; /* Light highlight on hover */
// }

.card-table .nav-tabs {
  // background-color: #f2f2f2; /* or #0d1949 */
  // border-bottom: 1px solid #ddd;
  background-color: transparent;
  border-bottom: none;  
}

.card-table .nav-tabs .nav-link {
  color: #333; /* or #0d1949 */
  background-color: $bg-palesilver; /* or #0d1949 */
  border: 1px solid #aaa;
  // border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px 16px;
  border-bottom: transparent;
}

.card-table .nav-tabs .nav-link.active {
  background-color: #333; /* or a slightly darker shade of the background color */
  // $bg-midnightblue
  color: $text-white; /* or a contrasting color */
  // border: 1px solid #333;
  border-bottom: 1px solid #333;
  border-top: 1px solid $text-black;
  border-right: 1px solid $text-black;
  border-left: 1px solid $text-black;
  // border-bottom: none;
}

.card-table .nav-tabs .nav-link.active:hover {
  color: $text-grey; /* or a contrasting color */
  border: 1px solid #cccccc;
}

// .verticaltabs {
//   // border: 1px !important;
// }

.verticaltabs .nav-link {
  text-decoration: none;
  // background-color: #666;
  color: black;
  // outline: 1px solid black;
}

.verticaltabs .nav-link:hover {
  background-color: #cccccc;
  // outline: 1px solid #333;
  color: #000;
}

.verticaltabs .nav-link.active {
  background-color: #2ecc71;
  color: #333;
  // outline: 1px solid #2ecc71;
}

.nav-tabs .nav-link:hover {
  background-color: #cccccc;
  border: 1px solid #333;
  color: #000;
}

.radio-button {
  // @extend .fs-5;
  background-color: #ddd;
  border: 1px solid #1b1b1b;
  // padding: 10px;
  border-radius: 10px;
  padding: 1px 20px;
  // cursor: pointer;
  font-size: .875rem;
  &:hover {
    background-color: #333;
    color: $text-white;
  }

}

.radio-button.active {
  background-color: #2ecc71;
  border-color: #333;
  font-weight: bold;
  color: #333;
}

// .btn-outline-radio {
//   border-color: #2ecc71;
//   color: #2ecc71;
// }

// .btn-outline-radio:hover {
//   background-color: #f7f7f7;
//   border-color: #666;
// }

// .btn-outline-radio:focus {
//   box-shadow: 0 0 0 0.25rem #666;
// }

// .btn-outline-radio:checked {
//   background-color: #2ecc71 !important;
//   border-color: #2ecc71;
//   color: #fff;
// }

.btn-outline-light {
  border: 1px solid $text-grey;
  background-color: transparent;
  color: $text-grey;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $light-btn-color;
    color: $text-white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($light-btn-color, 0.5);
  }
}

.btn-outline-disabled {
  border: 1px solid $dropdown-bg-color;
  opacity: 0.5;
  cursor: not-allowed;
  background-color: $border-muted;
  color: $dropdown-bg-color;

  &:hover {
    background-color: $border-muted;
    color: $dropdown-bg-color;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($light-btn-color, 0.5);
  }
}

.btn-outline-success {
  border: 1px solid $success-color;
  background-color: transparent;
  color: $success-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $success-color;
    color: $text-white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($success-color, 0.5);
  }
}

.btn-outline-danger {
  border: 1px solid $danger-color;
  background-color: transparent;
  color: $danger-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $danger-color;
    color: $text-white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($danger-color, 0.5);
  }
}

.border-top-primary {
  border-top: 1px solid $primary-btn-color;
}

.border-bottom-primary {
  border-bottom: 1px solid $primary-btn-color;
}

.border-end-primary {
  border-right: 1px solid $primary-btn-color;
}

.btn-outline-primary {
  border: 1px solid $primary-btn-color;
  background-color: transparent;
  color: $primary-btn-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $primary-btn-color;
    color: $text-white;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-btn-color, 0.5);
  }
}

.btn-primary {
  background-color: $primary-btn-color;
  color: $text-white;
  border: none;
  outline: none;
  padding: 5px 20px;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, outline 0.3s ease;

  &:hover {
    background-color: darken($primary-btn-color, 10%);
    color: $text-muted;
    outline: 1px solid $primary-btn-color; /* Add border on hover */
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-btn-color, 0.5);
  }
}

.btn-secondary {
  background-color: $secondary-btn-color;
  color: $text-dark;
  border: none;
  outline: none;
  padding: 5px 20px;
  // font-size: 16px;
  font-weight: 550;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease;

  &:hover {
    background-color: darken($secondary-btn-color, 10%);
    color: $text-darkgrey; /* Change text color to medium gray on hover */
    outline: 1px solid $border-muted; /* Add border on hover */
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($secondary-btn-color, 0.5);
  }
}

.btn-foundation {
  width: 75px;  
  text-align: left;
}

.dropdown-menu-prime {
  background-color: #1e3a56;
  border-color: $border-muted;
}

.dropdown-menu-prime .dropdown-item {
  position: relative; /* Needed for the pseudo-element */
  color: $text-white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px; /* Rounded corners */
  z-index: 1; /* Ensure content is above pseudo-element */
  transition: color 0.2s ease;
}

.dropdown-menu-prime .dropdown-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 8px; /* Match the item's border-radius */
  z-index: -1; /* Behind the content */
  transition: border-color 0.2s ease;
  background-color: transparent;
}

.dropdown-menu-prime .dropdown-item:hover,
.dropdown-menu-prime .dropdown-item:focus {
  color: $highlight-warning; /* Optionally change text color */
  background-color: transparent; /* Keep the background transparent */
}

.dropdown-menu-prime .dropdown-item:hover::before,
.dropdown-menu-prime .dropdown-item:focus::before {
  border-color: $highlight-warning; /* Highlight border on hover */
  // border-color: #284d70; /* Highlight border on hover */
}

.dropdown-menu-prime .dropdown-divider {
  border-color: $border-muted;
}

.card-header-dark .nav.nav-underline {
  background-color: #333;
  color: #ffffff;
}

.border-dark {
  border-color: #333;
}

.card-header .nav.nav-underline {
  background-color: #2f4f7f;
  color: #ffffff;
}

.card-header-dark .nav.nav-underline .nav-link {
  text-decoration: none;
  color: #f8f9fa;
  padding: 1px 16px; /* adjust the padding as needed */
  border-radius: 8px; /* adjust the border radius as needed */
  outline: none; /* remove the default outline */
}

.card-header .nav.nav-underline .nav-link {
  text-decoration: none;
  color: #f8f9fa;
  padding: 1px 16px; /* adjust the padding as needed */
  border-radius: 8px; /* adjust the border radius as needed */
  outline: none; /* remove the default outline */
}

.card-header .nav.nav-underline .nav-link.active {
  background-color: #284d70; /* a darker blue color */
  color: #ffffff;
  outline: 2px solid #006697; /* add an outline on active state */

}

.card-header .nav.nav-underline .nav-link:hover {
  background-color: lighten(#2f4f7f, 10%); /* a lighter version of the card-header color */
  text-decoration: underline;
  text-decoration-color: #006697;
  color: $text-white;
  outline: 2px solid #006697; /* add an outline on hover state */

}

.card-header-dark .nav.nav-underline .nav-link.active {
  background-color: #666; /* a darker blue color */
  color: #ffffff;
  outline: 2px solid #555; /* add an outline on active state */

}

.card-header-dark .nav.nav-underline .nav-link:hover {
  background-color: darken(#666, 20px); 
  text-decoration: underline;
  text-decoration-color: #555;
  color: white;
  // outline: 2px solid black; 
  box-shadow: 0 0 0 2px black;
}

/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  margin-left: 200px;
  width: calc(100% - 200px); /* Adjust for sidebar width */
  z-index: 1030;
  transition: width 0.3s ease, margin-left 0.3s ease;
  background-color: $nav-bg-color;
}

.navbar .welcome-message {
  font-size: 16px;
  color: $text-muted;
  padding: 8px 16px;
  border-radius: 4px;
}

.navbar .welcome-message .username {
  font-weight: bold;
  color: $text-white;
  padding-left: 3px;
  padding-right: 1rem;
  font-style: italic;
}

.navbar .welcome-message .current-fdn {
  color: $text-muted;
}

.navbar .welcome-message .current-subpage {
  color: $text-white;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: $text-primary;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: $highlight-warning;
}

.navbar .nav-link.active {
  background-color: $button-bg-color;
  color: $text-primary;
}

.navbar-divider {
  border-color: $border-muted;
}
/*------------------------------------*\
  #DROPDOWN STYLING
\*------------------------------------*/
.navbar .dropdown-menu {
  background-color: $dropdown-bg-color;
  border: none;
}

.navbar .dropdown-item {
  position: relative; /* Needed for the pseudo-element */
  color: $text-white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px; /* Rounded corners */
  z-index: 1; /* Ensure content is above pseudo-element */
  transition: color 0.2s ease;
}

.navbar .dropdown-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 8px; /* Match the item's border-radius */
  z-index: -1; /* Behind the content */
  transition: border-color 0.2s ease;
  background-color: transparent;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  color: $highlight-warning; /* Optionally change text color */
  background-color: transparent; /* Keep the background transparent */
}

.navbar .dropdown-item:hover::before,
.navbar .dropdown-item:focus::before {
  border-color: $highlight-warning; /* Highlight border on hover */
}

.navbar .dropdown-divider {
  border-color: $border-muted;
}

/* Secondary dropdown item styling */
.navbar .dropdown-item-secondary {
  position: relative; /* Needed for the pseudo-element */
  // background-color: $dropdown-secondary-bg;
  color: $dropdown-secondary-text;
  padding: 0.5rem 1rem; /* Matches Bootstrap's default dropdown-item padding */
  margin: 0; /* Remove any extra margins */
  width: 100%; /* Ensure the item fills the dropdown menu's width */
  display: block; /* Forces block-level behavior for full width */
  border: none; /* No border by default */
  border-radius: 8px; /* Rounded corners */
  z-index: 1; /* Ensure content is above pseudo-element */
  transition: color 0.2s ease;
}

.navbar .dropdown-item-secondary:hover,
.navbar .dropdown-item-secondary:focus {
  color: $highlight-info; /* Optionally change text color */
}

.navbar .dropdown-item-secondary:hover::before,
.navbar .dropdown-item-secondary:focus::before {
  border-color: $highlight-info; /* Highlight border on hover */
}

/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: $sidebar-bg-color;
  color: $text-white;
  border-right: 1px solid $border-muted;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px; /* Reduced width when collapsed */
}

.sidebar .list-group-item-action.active {
  color: $highlight-warning;
  // color: $highlight-info;
}

.sidebar .btn-toggle:hover {
  background-color: $hover-bg-color;
  color: $highlight-warning; /* Highlighted icon color */
  // border: 1px solid $highlight-warning;
}

.sidebar .btn-toggle {
  width: 40px;
  height: 40px;
  background-color: $button-bg-color;
  color: $text-white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Align with the navbar */
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar.collapsed .btn-toggle {
  margin-left: 10px; /* Center align when sidebar is collapsed */
}

.sidebar .list-group-item {
  background-color: transparent; /* Blend with sidebar background */
  border: none; /* Remove list item borders */
  color: $text-white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .list-group-item:hover {
  background-color: $hover-bg-color;
  color: $highlight-warning; /* Highlighted text */
}

.sidebar .list-group-item i {
  font-size: 1.25rem; /* Adjust icon size */
}

.sidebar.collapsed .text {
  display: none; /* Hide text when collapsed */
}

.sidebar.collapsed ~ .content {
  margin-left: 70px; /* Adjust content margin when sidebar is collapsed */
}

.sidebar.collapsed ~ .navbar {
  left: 70px;
  width: calc(100% - 70px);
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px; /* Collapsed width */
  }
  .sidebar .list-group-item {
    padding: 10px; /* Adjust padding for collapsed state */
  }
  .sidebar .list-group-item .text {
    display: none; /* Hide text in collapsed state */
  }
  .content {
    margin-left: 70px; /* Adjust content margin when sidebar is collapsed */
  }
  .navbar {
    margin-left: 70px; /* Adjust navbar margin when sidebar is collapsed */
    width: calc(100% - 70px); /* Adjust navbar width when sidebar is collapsed */
  }
}

/* General styles for pagination container */
.pagy-bootstrap-nav {
  text-align: center;
  margin: 10px 0;
}

/* Style for the pagination list */
.pagy-bootstrap-nav .pagination {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

/* General button styles for links */
.pagy-bootstrap-nav .page-item .page-link {
  display: inline-block;
  padding: 2px 20px;
  text-decoration: none;
  border: 1px solid #ddd;
  // border-radius: 9px;
  background-color: #f8f9fa; /* Light gray background */
  color: #152a5b; /* Bootstrap primary color */
  font-weight: bold;
  font-size: .9rem;;
}

/* Hover effect for buttons */
.pagy-bootstrap-nav .page-item .page-link:hover {
  background-color: #152a5b; /* Bootstrap primary color */
  color: white; /* White text on hover */
}

/* Disabled state for buttons */
.pagy-bootstrap-nav .page-item.disabled .page-link {
  // background-color: #f3f4f6; /* Light gray background */
  background-color: #e9ecef; /* Light gray background */
  color: #6c757d; /* Bootstrap gray color */
  pointer-events: none; /* Disable interaction */
}

/* Next and Previous buttons specific styles */
.pagy-bootstrap-nav .page-item.prev .page-link,
.pagy-bootstrap-nav .page-item.next .page-link {
  background-color: #152a5b; /* Green background for Next/Prev buttons */
  color: white; /* White text */
}

/* Next and Previous buttons specific styles */
.pagy-bootstrap-nav .page-item.prev.disabled .page-link,
.pagy-bootstrap-nav .page-item.next.disabled .page-link {
  background-color: #7a868c; /* Green background for Next/Prev buttons */
  // background-color: #4f5d64; /* Green background for Next/Prev buttons */
  color: white; /* White text */
}

.pagy-bootstrap-nav .page-item.prev .page-link:hover,
.pagy-bootstrap-nav .page-item.next .page-link:hover {
  background-color: #284d70; /* Darker green on hover */
}

/* Active page link styles */
.pagy-bootstrap-nav .page-item.active .page-link {
  background-color: #2196F3; /* Yellow background for active page */
  color: black; /* Black text for contrast */
}
