/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/
.main-navbar {
  // background-color: $light-purple-color;
  background-color: $dark-blue-color;
}

.main-navbar-link {
  color: $white;
}

.main-navbar-dropdown-item {
  color: $black;
}

.main-navbar-link:hover {
  // color: $blue-color;
  color: $light-blue-color;
  font-weight: 450;
  // background: #00B6B5;
}

.main-navbar-dropdown-item:hover  {
  // color: $blue-color;
  color: $white;
  background-color: $dark-blue-color;
  font-weight: 450;
  // background: #00B6B5;
}



// foo > .bar {}
/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/
// change to .main-sidebar .main-sidebar-sm
#sidebar-controller {
  min-width: 220px;
  max-width: 220px;
  // background: #7386D5;
  background: $dark-blue-color;
  color: $white-color;
  transition: all 0.3s;
  height: 91vh;
  // position: fixed;
  // top: 0;
  // left: 0;
}

#sidebar-controller.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar-controller.active .show-xl,
#sidebarCollapse .show-xl {
  display: none;
}

#sidebar-controller .show-xl,
#sidebarCollapse .show-xl {
  display: inline;
}

#sidebar-controller .list-group a.active {
  // background: $my-dark-gray;
  background: $blue-color;
}

#sidebar-controller .list-group a.active:hover {
  // background: $my-dark-gray;
  background: $blue-color;
}

#sidebar-controller .list-group a:hover,
#sidebarCollapse:hover {
  color: $white-color;
  background: $light-blue-color;
}

// 768px
@media (max-width: 576px) {
  #sidebar-controller {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      // margin-left: -80px !important;
  }
  #sidebar-controller.active {
      margin-left: 0 !important;
  }
  #sidebar-controller .show-xl,
  #sidebarCollapse {
      display: none;
  }
}
